<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Dimitri Pommier">
        <meta name="description" content="Comics per week">
        <link rel="shortcut icon" href="{{ asset('front/favicon.png') }}" />
        <title>{% block title %}Welcome to Bubbles{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Magnific-popup css -->
        <link type="text/css" rel="stylesheet" href="{{ asset('front/css/magnific-popup.css') }}" />
        <!-- Magnific-popup css -->
        <link type="text/css" rel="stylesheet" href="{{ asset('front/css/main.css') }}" />

        {% block stylesheets %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="container">
            {% include 'front/navbar.html.twig' %}
            <div id="content">
              {% block content %}{% endblock %}
            </div>
            {% block pagination %}{% endblock %}
        </div>

        {% include 'front/credits.html.twig' %}

        <!-- JQuery -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Bootstrap Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!-- Magnific-popup Lightbox CDN -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
        <!-- my.js -->
        <script type="text/javascript" src="{{ asset('front/js/main.js') }}"></script>

        <!-- The core React library -->
        <script src="http://fb.me/react-0.13.1.js"></script>
        <!-- In-browser JSX transformer, remove when pre-compiling JSX. -->
        <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
