@font-face {
  font-family: code-new-roman;
  src: url('../fonts/Code New Roman.otf');
}
html{
  position: relative;
    min-height: 100%;
}
body{
  font-family: code-new-roman;
  margin-bottom: 80px;
}
h1{
  margin-bottom: 20px;
}
footer{
  position: absolute;
  height: 60px;
  bottom: 0;
  width: 100%;
}
#navbar ul{
  margin: 0 auto;
}
.code-new-roman {
  font-family: code-new-roman;
}
.list{
  width: 216px;
  height: 350px;
  display: inline-block;
  margin:0 5px 20px;
}
.list a{
  width: 216px;
  float: left;
}
.list a:hover img{
  background: #EB2025;
}
.mfp-img{
  max-height: 100% !important;
}
.open .dropdown-menu{
    position: absolute !important;
    background: white !important;
    color:black !important;
}
.open .dropdown-menu>li>a{
    color:black !important;
}
.open .dropdown-menu>li>a:hover{
    background: #e6e6e6 !important;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-form>.input-group>span.input-group-btn>button.btn{
    height:34px;
}
