{% extends "base.html.twig" %}

{% block title %} About Bubbles {% endblock %}

{% block content %}

	<h1>What is this ?</h1>
	<p>Bubble is meant to track your comics, it's basically mirroring marvel.com and adding the functionnality to check which comics you may have read by letting you check them from wherever on the website you are providing you are logged in.</p>

	<h3>Who am I ?</h3>
	<p>I am a 28 years old web developer who lives in France near Paris.</p>

	<h3>Why did I do that ?</h3>
	<p>I found this nowhere else for now and this is a test proof of the skills that I put on my <a href="//shokohsc.github.io">resume</a>.
	</p>

	<h3>Thanks</h3>
	<p>I would like to thank :
		<ul class="list-unstyled">
			<li><strong><a href="//heroku.com">Heroku</a></strong> for hosting this project.</li>
			<li><strong><a href="//marvel.com">Marvel</a></strong> for providing an API that I can enjoy while coding.</li>
			<li><strong><a href="//github.com/redpanda">Redpanda</a></strong> for his numerous tips and advices.</li>
			<li><strong><a href="//sensiolabs.com/">Sensiolabs</a></strong> for their wonderful coding tools.</li>
			<li><strong><a href="//getbootstrap.com/">Twitter Bootstrap</a></strong> for their wonderful framework.</li>
			<li><strong><a href="//openfontlibrary.org/">Open Font Library</a></strong> for this great font.</li>
		</ul>
	</p>

{% endblock %}
