<footer>
	<p class="text-center">
		<small>Data provided by <a href="//marvel.com/" title="Marvel">Marvel</a>. <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2014 Marvel.<br>
		Powered by <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> <a href="//symfony.com/" title="Symfony">Symfony</a>, <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> <a href="//twig.sensiolabs.org/" title="Twig">Twig</a> & <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> <a href="//getbootstrap.com/" title="Bootstrap">Bootstrap</a>.</small>
	</p>
</footer>
