{% extends "base.html.twig" %}

{% block title %} {{ title }}{% endblock %}

{% block content %}
	<div class="jumbotron">
	  <h1>{{ code }}</h1>
	  <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ message }}</p>
	  <p><a class="btn btn-primary btn-lg" onclick="window.history.back()" role="button"><span class="glyphicon glyphicon-arrow-left"></span> {{ 'error.backward'|trans }}</a></p>
	</div>
{% endblock %}
