{% if serie is defined %}
    {% set route = 'serie' %}
    {% set id = serie.id %}
{% else %}
    {% set route = 'creator' %}
    {% set id = creator.id %}
{% endif %}

<nav>
  <ul class="pager">
    {% if page > 1 %}
    <li>
    	<a href="{{ path(route, {'id' : id, 'page': page - 1 }) }}">
	    	<span class="glyphicon glyphicon-chevron-left"></span> Newer
	    </a>
    </li>
    {% endif %}

    {% if collection.count() > 0 %}
    <li>
    	<a href="{{ path(route, {'id' : id, 'page': page + 1 }) }}">
	    	Older <span class="glyphicon glyphicon-chevron-right"></span>
	    </a>
    </li>
    {% endif %}
  </ul>
</nav>
