<nav class="text-center">
  <ul class="pagination">
    <li>
      <a href="{{ path('released', {
    	'day':   date|previousMonth('day'),
    	'month': date|previousMonth('month'),
    	'year':  date|previousMonth('year') }) }}">-month</a>
    </li>
    <li>
      <a href="{{ path('released', {
    	'day':   date|previousWeek('day'),
    	'month': date|previousWeek('month'),
    	'year':  date|previousWeek('year') }) }}">-week</a>
    </li>
    <li>
      <a href="{{ path('released', {
    	'day':   date|nextWeek('day'),
    	'month': date|nextWeek('month'),
    	'year':  date|nextWeek('year') }) }}">+week</a>
    </li>
    <li>
      <a href="{{ path('released', {
    	'day':   date|nextMonth('day'),
    	'month': date|nextMonth('month'),
    	'year':  date|nextMonth('year') }) }}">+month</a>
    </li>
  </ul>
</nav>
