@font-face {
  font-family: code-new-roman;
  src: url('../fonts/Code New Roman.otf');
}
html{
  position: relative;
    min-height: 100%;
}
body{
  font-family: code-new-roman;
}
h1{
  margin-bottom: 20px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
#navbar ul{
  margin: 0 auto;
}
.code-new-roman {
  font-family: code-new-roman;
}
.col-centered {
    float: none;
  margin: 0 auto;
}
.comic-item-list{
  width: 216px;
  height: 364px;
  margin: 0 5px 20px;
}
.comic-item-list a:hover img{
  background: #EB2025;
}
.comic-item-list-image{
  min-width: 216px;
  height: 324px;
}
.icon-action{
  font-size: 40px;
  position: absolute;
  z-index: 1;
  padding-left: 20px;
}
.user-action-icon-on{
  color: #5CB85C;
}
.user-action-icon-off{
  color: #D9534F;
}
.icon-action a:hover{
  color: #5BC0DE;
}
.mfp-img{
  max-height: 100% !important;
}
