@font-face {
  font-family: code-new-roman;
  src: url('../fonts/Code New Roman.otf');
}
html{
  position: relative;
    min-height: 100%;
}
body{
  font-family: code-new-roman;
}
h1{
  margin-bottom: 20px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
#navbar ul{
  margin: 0 auto;
}
.code-new-roman {
  font-family: code-new-roman;
}
.comic-item-list{
  width: 216px;
  height: 350px;
  margin-bottom: 20px;
  display: inline-block;
}
.comic-item-list a{
  width: 216px;
  float: left;
}
.comic-item-list a:hover img{
  background: #EB2025;
}
.mfp-img{
  max-height: 100% !important;
}
.form-inline input {
     border-radius: 6px 0 0 6px;
 }
.form-inline select {
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
}
