---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: bubbles
spec:
  template:
    spec:
      containers:
        - name: bubbles
          image: shokohsc/bubbles
          env:
            - name: ENV
              value: development
            - name: API_GATEWAY_HOST
              value: api.ouistity.shokohsc.home
            - name: USE_SENTRY
              value: "false"
            - name: SENTRY_DSN
              value: https://2f15ffed2e254ced911e78de9312afe0\@glitchtip.shokohsc.home/1
